
/lowes_product_classifier.egg-info/
.idea/
build/
lowes_product_classifier.egg-info/
/._.DS_Store
/lowes-product-classifier/josiah_testing/classifier_jlaivins.*
.DS_Store
._.DS_Store
lowes-product-classifier/.DS_Store
lowes-product-classifier/._.DS_Store
/lowes-product-classifier/data/
dist/
lowes-product-classifier/josiah_testing/__pycache__/
lowes-product-classifier/josiah_testing/run_logs/
lowes-product-classifier/josiah_testing/weights/
/archived_files/josiah_testing/weights/
/archived_files/josiah_testing/run_logs/
